<mat-accordion>
  <mat-expansion-panel [expanded]="step===0" (opened)="setStep(0)">
    <mat-expansion-panel-header> 
      <mat-panel-title>
        Build Maze
      </mat-panel-title>  
    </mat-expansion-panel-header>
    <router-outlet name="mazecreator"></router-outlet>   
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step===1" (opened)="setStep(1)"> 
    <mat-expansion-panel-header>
      <mat-panel-title>
        Solved Maze
      </mat-panel-title>     
    </mat-expansion-panel-header>
    <router-outlet name="mazeresolver"></router-outlet>   
  </mat-expansion-panel>
</mat-accordion>

